<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Royaume Minecraft</title>

    <link rel="stylesheet" href="../assets/css/index.css">
</head>
<body>
    <div id="loading">
        <img src="../assets/images/icon.png">
    </div>

    <h1>Royaume Minecraft</h1>

    <div class="memory">
        <input id="memory" type="range" oninput="updateValueIndicator(this)">

        <p id="memory-text"></p>
    </div>
    
    <p id="button" onclick="inject()"></p>
    <p id="info-bar"></p>

    <script src="../assets/javascripts/injector.js"></script>
    <script src="../assets/javascripts/memory-slider.js"></script>
</body>
</html>